@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "iranYekan";
  src: url("assets/iranYekan.ttf");
}
@font-face {
  font-family: "iranSans";
  src: url("assets/iranSans.ttf");
}
